<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	 <title>Saša Grabnar | Fakebook</title>
     <link type="text/css" rel="stylesheet" href="style.css">

    </head>

    <body>
	     <h1><i>FAKEBOOK</i></h1>
		 Iskalnik: </i><input type="text" placeholder="Isci po imenu">

		 <br>

		 <h2>Saša Grabnar</h2>
		 <img src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/1917266_1094971192975_4564036_n.jpg?oh=236129dfc277dcfd83f5c94c61ca9394&oe=584E7FD4"/>

		 <br>
		 <br>

		 <button>Dodaj za prijatelja</button>
		 <br>

		 <p><strong>Kraj:</strong> Ljubljana</p>
		 <p><strong>Starost:</strong> 30+</p>
		 <p><strong>Izobrazba:</strong> diplomirana antropologinja</p>
		 <p><strong>Hobi:</strong> branje</p>
		 <p><strong>Število FB prijateljev: </strong> 6000000000</p>
		 <p><strong>Število FB neprijateljev: </strong> -3</p>



    </body>
</html>